*{
margin:0;
padding:0;

}
.container{
	position:absolute;
	width:1280px;
	left:16%;
	height:auto;
	background-color:white;
}
header{
	position:relative;
	height:100px;
	width:1280px;

}
#logo{
	left:10%;
	position:absolute;
	top:21px;
	width:178px;
}
#topmenu {
	float:right;
	margin-right:140px;
margin-top:30px;
	

}
#topmenu ul a {
	font-family:Segoe WP Light, sans-serif;
	font-size: 19pt;
	color:#6d6d6d;
	text-decoration:none;
	list-style:none;
	margin-left:10px;
}
#topmenu ul a:hover {
	color:pink;
	cursor:pointer;
}
.korz{
	position:absolute;
	top:353px;
	right:44%;
}
.riq{
	position:absolute;
	top:353px;
	right:35%;
}
.riq h1{
position:absolute;
top:5px;
margin-left:7px;
font-size:19pt;
color:white;
	font-family:Segoe WP Light, sans-serif;
}
#banner{
	position:relative;
	height:537px;
	width:1280px;
	background: linear-gradient(135deg, #00757e, #10cfb6);

}
.iphone{
	left:21%;
	position:absolute;
	top:10%;
	z-index:10;
}
.circle{
	left:170px;
position:relative;
	top:10%;
	z-index:9;
}
.tele{
	position:absolute;
	right:0;
	top:0;
	height:119px;
	width:119px;
}
.tele a{
	height:119px;
	width:119px;
	text-decoration:none;
	list-style:none;
}
.plan{
	position:absolute;
	right:119px;
	top:0;	
	height:119px;
	width:119px;
	color:red;
}
.plan a{
	height:119px;
	width:119px;
	text-decoration:none;
	list-style:none;
}
.comp{
	position:absolute;
	right:238px;
	top:0;
		height:119px;
	width:119px;
}
.comp a{
	height:119px;
	width:119px;
	text-decoration:none;
	list-style:none;
}
.earth{
	position:absolute;
	top:180px;
	left:662px;
	display: flex;
}
.earth h3{
	margin-left:5px;
	color:white;
	font-family:Segoe WP Light, sans-serif; 
}
.myapps{
	position:absolute;
	top:270px;
	left:662px;
	color:white;
	font-family:Segoe WP Light, sans-serif;
	font-size:9pt;
}
#f1{
	font-size:20pt;
}
#sec2{
	margin-top:20px;
	position:relative;
	width:1280px;
	text-align:center;
	color:grey;


}
h4{

	font-size:41pt;
	font-family:Segoe WP Light, sans-serif;
}
h5{

	font-family: Open Sans;
	font-size:15pt;
	margin-top:20px;
}
.logo2{
	position:relative;
	left:15%;
	margin-top:40px;
}
#sec3{
	position:relative;
	width:1280px;
	text-align:center;
	color:grey;
	margin-top:115px;

}
.bann{
	background: linear-gradient(135deg, #00757e, #10cfb6);
	width:1280px;
	height:537px;

}
.s1{
	width:213px;
}
.s3{
	width:213px;
}
.slide{
margin-top:34px;
padding:0;
display:flex;
height:169.4px;	

}
.noteb{
position:absolute;
left:13%;
margin-top: 125px;
}
.f2{
	font-size:20pt;
}
.myapss2{
	text-align:left;
	position:absolute;
	top:340px;
	left:712px;
	color:white;
	font-family:Segoe WP Light, sans-serif;
	font-size:15pt;
}
.korz1{
position:absolute;
	top:423px;
	right:40%;	
}
.riq1{
position:absolute;
	top:423px;
	right:31%;
}
.riq1 h1{
position:absolute;
top:5px;
margin-left:7px;
font-size:19pt;
color:white;
	font-family:Segoe WP Light, sans-serif;
}
#sec4{
	background: url(images/стрелочки.png) ;
	background-size:cover;
position:absolute;
right:0;
width:598px;
height:541px;

}
.f3{
	font-size:200pt;
	font-family:SegoeWP Black;

}
.text{
	color:#49d7b0;
	font-size:74pt;
}
footer{
	margin-top:55px;
	text-align:center;
	color:#c1c1c1;
	font-size:23pt;
	height:100px;
	width:100%;
	bottom:0;
	font-family: SegoeWP Light;
}
@media (max-width:1620px){
	.container{
	position:absolute;
	width:1280px;
	left:10%;
	height:auto;
	background-color:white;
}
}
@media (max-width:1520px){
	.container{
	position:absolute;
	width:1280px;
	left:5%;
	height:auto;
	background-color:white;
}
	}
	@media (max-width:1450px){
		header{
	position:relative;
	height:180px;
	width:1280px;

}
#logo{
	left:40%;
	position:absolute;
	top:21px;
	width:178px;
}
#topmenu {
	position:relative;
	right:29%;
margin-top:110px;
	

}
#topmenu ul a {
	font-family:Segoe WP Light, sans-serif;
	font-size: 20pt;
	color:#6d6d6d;
	text-decoration:none;
	list-style:none;
	margin-left:10px;
}
	}
		@media (max-width:1420px){
			.container{
	position:absolute;
	width:1280px;
	left:3%;
	height:auto;
	background-color:white;
}

		#banner{
			left:18%;
	position:relative;
	height:897px;
	width:780px;
	background: linear-gradient(135deg, #00757e, #10cfb6);

}
.iphone{
	left:32%;
	position:absolute;
	top:15%;
	z-index:10;
}
.circle{
	left:151px;
position:relative;
	top:14%;
	z-index:9;
}
.tele{
	position:absolute;
	left:190px;
	top:0;
	height:119px;
	width:119px;
}
.plan{
position:absolute;
	left:319px;
	top:0;	
	height:119px;
	width:119px;
	color:red;
}
.comp{
	position:absolute;
	left:448px;
	top:0;
		height:119px;
	width:119px;
}
.earth{
	position:absolute;
	top:620px;
	left:300px;
	display: flex;
}
.earth h3{
	margin-left:5px;
	color:white;
	font-family:Segoe WP Light, sans-serif; 
}
.myapps{
	position:absolute;
	top:688px;
	left:247px;
	color:white;
	font-family:Segoe WP Light, sans-serif;
	font-size:9pt;
	
}
#f1{
	font-size:20pt;
}
.korz{
	position:absolute;
	top:783px;
	right:55%;
}
.riq{
	position:absolute;
	top:783px;
	right:41%;
}
#sec3{
		position:relative;
	width:1280px;
	text-align:center;
	color:grey;
right:14px;
	margin-top:115px;

}
h4{
right:10px;
	font-size:41pt;
	font-family:Segoe WP Light, sans-serif;
}
h5{

	font-family: Open Sans;
	font-size:15pt;
	margin-top:20px;
}
.bann{
	background: linear-gradient(135deg, #00757e, #10cfb6);
height:807px;
	width:637px;
	left:24%;
	position:relative;

}
.s1{
position:absolute;
left:24%;
height:168px;	
margin:0;
padding:0;

}
.s2{
position:absolute;
left:40.5%;
height:168px;	
margin:0;
padding:0;

}
.s3{
position:absolute;
left:56.9%;
height:168px;	
margin:0;
padding:0;

}
.noteb{
position:absolute;
left:6%;
margin-top: 185px;
}
.s4{
		float:left;
		position:absolute;
		top:806.5px;
		left:24%;
		z-index:12;
}
.s5{
		float:left;
		position:absolute;
		top:806.5px;
		left:40.8%;
		z-index:12;
}
.s6{
		float:left;
		position:absolute;
		top:806.5px;
		left:57.5%;
		z-index:12;
}
.korz1 {
	position:absolute;
	top:553px;
	right:54%;
}
.riq1{
position:absolute;
	top:553px;
	right:36%;
}
.myapss2{
	text-align:left;
	position:absolute;
	top:65px;
	left:206px;
	color:white;
	font-family:Segoe WP Light, sans-serif;
	font-size:15pt;
}
.f3{
	font-size:65pt;
	font-family:SegoeWP Black;

}
.text{
	bottom:278px;
	position:absolute;
	color:#49d7b0;
	font-size:30pt;
	left:20%;
}
#sec4{
position:relative;
left:42%;
width:354px;
height:338px;

}
footer{
	position:relative;
	margin-top:55px;
	color:#c1c1c1;
left:25%;
	font-size:23pt;
	height:100px;
	width:500px;
	bottom:0;
	font-family: SegoeWP Light;
}
#sec2_text{
	position:relative;
width:637px;
left:24%;
font-size:20pt;
}
.logo2{
	position:relative;
	left:15%;
}
	}