* {
  margin:auto;
  padding: 0;
  text-align: center;
}

.container {
  width: 1280px;
  height: 1908px;
  background-color: #ffffff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

button {
  cursor: pointer;
}

.header {
  width: auto;
  height: 138px;
  background: linear-gradient(#ffffff, #dadada);
  position: relative;
}

.top-top-menu {
  width: auto;
  height: 28px;
  background-color: #424242;
}

.top-top-menu ul {
  padding: 2px 0 0 712px;
}

.top-top-menu a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: top 2s ease-out 2.5s;
  -webkit-transition: top 1s ease-out 0.5s;
  -moz-transition: top 1s ease-out 0.5s;
  -o-transition: top 1s ease-out 0.5s;
}

.top-top-menu a:hover {
  color: grey;

}

.logo {
  position: absolute;
  top: 48px;
  left: 140px;
}

.logo img {
  width: 136px;
  height: 74px;
}

.search {
  width: 458px;
  height: 40px;
  background-color: #79b260;
  border-radius: 4px;
  position: absolute;
  top: 65px;
  left: 319px;
  display: flex;
  flex-direction: row;
}

.search input {
  border: 4px solid #79b260;
  width: 328px;
  height: 32px;
}

.search button {
  width: 120px;
  height: 40px;
  background-color: #79b260;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  border: 0px;
}

.search img {
  width: 24px;
  height: 24px;
}

.cart {
  position: absolute;
  margin: 24px 0 0 829px;
  display: flex;
  flex-direction: row;
  color: #808080;
}

.left-cart {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d0d0d0;
  padding-right: 5px;
}

.your-cart {
  display: flex;
  flex-direction: row;
}

.your-cart p {
  margin-left: 6px;
}

.your-text {
  font-size: 16px;
}

.bottom-degrees {
  font-size: 10px;
  position: relative;
  top: 2px;
}

.checkout {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.checkout button {
  background: linear-gradient(#808080, #000000);
  color: #ffffff;
  margin-left: 5px;
}

.right-cart {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.star-text {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
  position: relative;
  left: 12px;
}

.wish-list {
  font-size: 20px;
}

.top-degree {
  color: #ffffff;
  background-color: #79b260;
  font-size: 10px;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  position: relative;
  bottom: 15px;
  right: 12px;
}

.top-menu {
  border-top: 1px solid #808080;
  border-bottom: 3px solid #808080;
  margin-top: 110px;
  background-color: #ffffff;
  padding: 10px 0 10px 0;
  border-collapse: collapse;
}

.top-menu a {
  text-decoration: none;
  color: #808080;
  margin-left: 28px;
  font-family: 'Segoe UI';
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 100%;
  width: 100%;
  padding: 10px;
}

.top-menu a:hover {
  background: linear-gradient(0deg, rgba(123, 184, 97, 1) 2%, rgba(122, 180, 97, 1) 44%, rgba(183, 255, 152, 1) 100%);
  color: white;
}

.content {
  margin-top: 40px;
  position: absolute;
  background-color: #ffffff;
  width: 1280px;
  height: 1150px;
}

.left-menu {
  border: 1px solid #808080;
  margin: 8px 0 0 138px;
  color: #808080;
  height: 866px;
  width: 190px;
  display: flex;
  flex-direction: column;
  float: left;

}

.left-menu h1,
.left-menu p,
.left-menu a {
  left: 0;

}

.left-menu h1 {
  font-size: 16px;
  margin: 20px 0;
}

.left-menu a {
  text-decoration: none;
  align-self: center;
  width: 100%;
  color: #808080;
  width: 100%;
  height: 30px;
  border: 1px solid #8080805b;
}

.left-menu a:hover {
  background: linear-gradient(0deg, rgba(123, 184, 97, 1) 2%, rgba(122, 180, 97, 1) 44%, rgba(183, 255, 152, 1) 100%);
  color: white;
}

.categories {
  font-size: 20px;
}

.content {
  float: left;
}

.main-content {

  width: 900px;
  margin-left: 350px;
  border: 1px solid #8080805b;
  padding-bottom: 30px;
  padding-right: 29px;
}

.book-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  top: 10px;
  right: 90px;
}

.article-name {
  float: left;
  margin: 30px 0 0px 35px;
}

.row-book {
  display: flex
}

.book {
  margin-left: 47px;
}
a {
text-decoration: none;
}
.book article {
  width: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  color: #808080;
  top: 0;
}

.price-book {
  font-size: 19pt;
  color: #f05356;
  font-family: Helvetica;
}
.footer {
  background-color:#3a3a3a;
  width:auto;
  height:520px;
  position: relative;
  top: 1190px;
color:white;
display:flex;
}
.subsections {
display:flex;
align-self: flex-start;
position: relative;
margin: 0 auto;
}
.subsections a {
  font-size: 10pt;
  font-family: 'Segoe WP Light';
  font-weight: 100;
}
.subsections a:hover {
  color:white;
}
.section-biography {
  margin-right:50px; 
}
.section-biography ul a {
  display:flex;
  justify-content: start;
  margin-top:10px;
  color: #949595;
  border-bottom: 1px solid #949595;
  padding-bottom:4px;
}
.section-biography h2 {
  margin-top: 20px;
  font-family: 'Segoe WP Light';
 font-size: 19pt;
font-weight: 100;
}
.section-reference {
  margin-right:50px;
}
.section-reference ul a {
  display:flex;
  margin-top:10px;
  justify-content: start;
  border-bottom: 1px solid #949595;
  color: #949595;
  padding-bottom:4px;
}
.section-reference h2 {
  margin-top: 20px;
  font-family: 'Segoe WP Light';
 font-size: 19pt;
font-weight: 100;
}
.section-earth-science {
  margin-right:50px;
}
.section-earth-science ul a {
  display:flex;
  justify-content: start;
  margin-top:10px;
  color: #949595;
  border-bottom: 1px solid #949595;
  padding-bottom:4px;
}
.section-earth-science h2 {
  margin-top: 20px;
  font-family: 'Segoe WP Light';
 font-size: 19pt;
font-weight: 100;
}
.section-math {
  margin-right:50px;
}
.section-math ul a {
  display:flex;
  justify-content: start;
  margin-top:10px;
  color: #949595;
  border-bottom: 1px solid #949595;
  padding-bottom:4px;
}
.section-math h2 {
  margin-top: 20px;
  font-family: 'Segoe WP Light';
 font-size: 19pt;
font-weight: 100;
}
.info-cover {
  background-color: #2f2f2f;
  height:150px;
  width:auto;
  position: relative;
  top:1150px;
}
.info-cover {
  color: white;
  font-family: 'Segoe WP Light';
  font-weight: 10;
  font-size:12pt;
}
.card-info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.514)
}
.card-info h2 {
  font-weight: 10;
  font-size:17pt;
}
h3 {
  font-weight: 10;
  font-size:12pt;
}
.card-img {
  margin:12px 0;
}
